/Literatur
/Venv
/.idea
/P040_IsaacSim_Data
/P010_Projektdokumente/P011_Orga/linux-commands-cheat-sheet.pdf
/P010_Projektdokumente/P011_Orga/Orga_Master_Projekt_WS_2023_24_v2.pptx
/P010_Projektdokumente/P011_Orga/Meeting Mitschriften
/P010_Projektdokumente/P011_Orga/ToDo.txt
/P020_Backend/P022_Components
/P020_Backend/P021_Code/CloudData
/Archiv